<app-header [showMenu]="true" title="Preguntas Frecuentes"></app-header>

<ion-content [fullscreen]="true">

  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-card mode="ios" color="secondary" class="d-flex-center ion-text-center" *ngIf="!loading && frequentQuestions.length" >
    <div>
      <h3>Portal: <strong>{{namePortal}}</strong></h3>
      <h5>Preguntas Frecuentes: {{frequentQuestions.length}}</h5>
    </div>
  </ion-card>

  <ion-list *ngIf="!loading">
    <ion-item-sliding class="product-item" #slidingItem *ngFor="let f of frequentQuestions">
      <ion-item>
        <ion-avatar slot="start">
          <img src="assets/icon/answer2.svg"/>
        </ion-avatar>
        <ion-label>
          <div class="name"><strong>Pregunta:</strong> {{f.ask}}</div>
          <div class="data">
            <strong>Respuesta:</strong> {{f.answer}}
            <br>
            <strong>url:</strong> <a href="{{f.url}}" target="_blank" rel="noopener noreferrer">{{f.url}}</a>

          </div>      
        </ion-label>
        <ion-icon class="option-btn" (click)="openOptions(slidingItem)" name="chevron-back-outline"></ion-icon>
      </ion-item>

      <ion-item-options>

        <ion-item-option (click)="addUpdateFrequentQuestion(f)">
          <ion-icon class="option-btn" name="create-outline"></ion-icon>
        </ion-item-option>

        <ion-item-option color="danger" (click)="ConfirmDeleteFrequentQuestion(f)">
          <ion-icon class="option-btn" name="trash-outline"></ion-icon>
        </ion-item-option>


      </ion-item-options>


    </ion-item-sliding>

    
  </ion-list>

  <!--loade-->
  <ion-list *ngIf="loading">
    
      <ion-item class="product-item" *ngFor="let p of [1,1,1,1,1,1,1,]">
        <ion-avatar slot="start">
          <ion-skeleton-text animated style="width: 100%; height: 100%;"></ion-skeleton-text>
        </ion-avatar>
        <ion-label>
          <div> <ion-skeleton-text animated style="width: 50%"></ion-skeleton-text> </div>
          <div> <ion-skeleton-text animated style="width: 30%"></ion-skeleton-text> </div>
        </ion-label>
      </ion-item>

  </ion-list>

  

  <div *ngIf="!loading && !frequentQuestions.length" class="empty">
    <ion-card mode="ios" color="secondary" class="d-flex-center ion-text-center" >
      <div>
        <h3>Portal: <strong>{{namePortal}}</strong></h3>
        <h5>Preguntas Frecuentes: {{frequentQuestions.length}}</h5>
      </div>
    </ion-card>
    <img src="assets/icon/robot.svg" class="shield-icon" height="100px">
    <h3>No hay cursos preguntas frecuentes</h3>
  </div>


  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="addUpdateFrequentQuestion()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>


  <ion-buttons class="ion-margin-top">
    <ion-back-button [defaultHref]="'/main/home'"></ion-back-button>
  </ion-buttons>
</ion-content>