<app-header [isModal]="true" [title]="'Preguntas Frecuentes: ' + portalName"></app-header>

<ion-content>
  <ion-accordion-group>
    <ion-accordion *ngFor="let question of frequentquestions" value="{{question.id}}">
      <ion-item slot="header">
        <ion-label>{{ question.ask }}</ion-label>
      </ion-item>

      <ion-item slot="content">
        <ion-label>
          <p><strong>Respuesta:</strong> {{ question.answer }}</p>
          <!-- Botón si hay URL asociada -->
          <div *ngIf="question.url">
            <ion-button expand="full" (click)="openLink(question.url)">
              Ir al Enlace
            </ion-button>
          </div>
        </ion-label>
      </ion-item>
    </ion-accordion>
  </ion-accordion-group>
</ion-content>
