ion-content {
    --padding-start: 16px;
    --padding-end: 16px;
    --padding-bottom: 24px;
  }
  
  ion-accordion-group {
    margin-top: 16px;
  }
  
  ion-item {
    --padding-start: 0;
    --padding-end: 0;
  }
  
  ion-button {
    margin-top: 16px;
  }
  