#dynamicContentContainer {
    z-index: 9999; /* Asigna el índice Z deseado */
  }
  
h4{
    margin-top: 5px;
    font-weight: bold;
}

.avatar-icon{
    font-size: 70px;
}

ion-item {
    --padding-top: 14px;
}

ion-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
  }
  
  #centerContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
  }
  
  
  .button-row {
    display: flex;
    flex-wrap: wrap; /* Permite que los botones se envuelvan si el espacio es limitado */
    gap: 8px; /* Espacio entre los botones */
    margin-top: 16px; /* Espacio entre los botones y el contenido del portal */
  }
  
  .button-row ion-button {
    flex: 1 1 calc(50% - 8px); /* Los botones ocupan el 50% del ancho menos el espacio del gap */
  }
  
  .map-container {
    margin-top: 16px; /* Espacio entre los botones y el mapa */
    position: relative;
  }
  
  .map-container iframe {
    width: 100%;
    height: 300px; /* Ajusta la altura según sea necesario */
    border: 0;
  }
  
  /* Media query para ajustar el diseño en pantallas más pequeñas */
  @media (max-width: 600px) {
    .button-row ion-button {
      flex: 1 1 100%; /* Los botones ocupan el 100% del ancho en pantallas pequeñas */
    }
  }

 