<app-header balckButton="/auth" title="Registro"></app-header>

<ion-content  [fullscreen]="true">

  <div class="d-flex-center">

    <form [formGroup]="form" class="auth-form" (ngSubmit)="submit()" (keypress.enter)="submit()">
      <app-logo></app-logo>

      <app-custom-input 
      autocomplete="name"
      icon="person-outline"
      [control]="form.controls.name"
      type="text"
      label="Nombre"
      ></app-custom-input>

      <div class="validators" *ngIf="form.controls.name.errors && form.controls.name.touched">
        <div *ngIf="form.controls.name.errors?.['required']">El nombre es obligatorio</div>
        <div *ngIf="form.controls.name.errors?.['minlength']">Minimo 4 caracteres</div>
      </div>


      <app-custom-input 
      autocomplete="email"
      icon="mail-outline"
      [control]="form.controls.email"
      type="email"
      label="Correo"
      ></app-custom-input>

      <div class="validators" *ngIf="form.controls.email.errors && form.controls.email.touched">
        <div *ngIf="form.controls.email.errors?.['required']">El correo es obligatorio</div>
        <div *ngIf="form.controls.email.errors?.['email']">Ingrese un correo valido</div>
      </div>
      
  
      <app-custom-input 
      autocomplete="email"
      icon="lock-closed-outline"
      [control]="form.controls.password"
      type="password"
      label="Contraseña"
      ></app-custom-input>

      <div class="validators" *ngIf="form.controls.password.errors && form.controls.password.touched">
        <div *ngIf="form.controls.password.errors?.['required']">La contraseña es obligatoria</div>
      </div>

      <ion-button expand="block" mode="ios" class="submit" type="submit" [disabled]="form.invalid">
        Registrarse
        <ion-icon slot="end" name="person-add-outline"></ion-icon>
      </ion-button>
      
  
      <ion-buttons class="ion-margin-top">
        <ion-back-button [defaultHref]="'/auth'"></ion-back-button>
      </ion-buttons>

    </form>

  </div>

  
  

</ion-content>
