
#dynamicContentContainer {
    z-index: 9999; /* Asigna el índice Z deseado */
  }
  
h4{
    margin-top: 5px;
    font-weight: bold;
}

.avatar-icon{
    font-size: 70px;
}

ion-item {
    --padding-top: 14px;
}

ion-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
  }
  
  #centerContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
  }
  

  #contentcontainer {
    padding: 0 16px; // Espacio en los lados
    margin-bottom: 80px; // Espacio en la parte inferior
  }
  
  ion-item {
    --padding-start: 20px; // Espacio en el inicio
    --padding-end: 30px; // Espacio en el final
  }
  
  ion-accordion-group {
    --padding: 0 16px; // Espacio a los lados del grupo de acordeones
  }
  
  .button-row {
    display: flex;
    flex-wrap: wrap; /* Permite que los botones se envuelvan si el espacio es limitado */
    gap: 8px; /* Espacio entre los botones */
    margin-top: 16px; /* Espacio entre los botones y el contenido del portal */
  }
  
  .button-row ion-button {
    flex: 1 1 calc(50% - 8px); /* Los botones ocupan el 50% del ancho menos el espacio del gap */
  }
  
  .map-container {
    margin-top: 16px; /* Espacio entre los botones y el mapa */
    position: relative;
  }
  
  .map-container iframe {
    width: 100%;
    height: 300px; /* Ajusta la altura según sea necesario */
    border: 0;
  }
  
  /* Media query para ajustar el diseño en pantallas más pequeñas */
  @media (max-width: 600px) {
    .button-row ion-button {
      flex: 1 1 100%; /* Los botones ocupan el 100% del ancho en pantallas pequeñas */
    }
  }

  /* Estilo para cuando el botón está en estado presionado */
ion-button.pressed {
  background-color: #007bff; /* Cambia el color de fondo mientras se presiona */
}

ion-button.pressed ion-icon {
  color: #ffffff; /* Cambia el color del ícono mientras se presiona */
}
