.modal-content {
  position: relative;
  padding: 16px; // Ajusta el padding según tus necesidades
}

#dynamicContentContainer {
  // Agrega estilos adicionales para el contenedor dinámico si es necesario
}

.close-button, .voice-button {
  position: absolute;
  background-color: #fff;
  border: none;
  border-radius: 50%;
  box-shadow: 0 2px 4px rgba(0,0,0,0.2);
  padding: 12px;
  cursor: pointer;
  z-index: 1000; // Asegúrate de que los botones estén por encima del contenido
}

.close-button {
  top: 16px;
  right: 27px; // Ajusta la posición para que el botón de micrófono no se superponga
}


/* Asegúrate de que estos estilos estén en tu archivo SCSS o CSS */

.voice-button {
  position: fixed; /* Asegura que el botón se mantenga en una posición fija */
  bottom: 27px;    /* Espacio desde el borde inferior */
  left: 8px;      /* Espacio desde el borde izquierdo */
  background-color: #f0f0f0;
  border: 1px solid #007bff;
  border-radius: 50%; /* Forma circular */
  box-shadow: 0 2px 4px rgba(0,0,0,0.2); /* Sombra del botón */
  padding: 8px; /* Tamaño del botón (más pequeño) */
  cursor: pointer;
  transition: background-color 0.3s, border-color 0.3s; /* Transición suave para los cambios de color */
  z-index: 1000; /* Asegura que el botón esté encima de otros elementos */
}

.voice-button ion-icon {
  font-size: 16px; /* Tamaño del ícono (más pequeño) */
  color: #007bff; /* Color del ícono */
}

/* Estilo para cuando el botón está en estado presionado */
.voice-button.pressed {
  background-color: #007bff; /* Cambia el color de fondo mientras se presiona */
  border-color: #0056b3; /* Cambia el color del borde mientras se presiona */
}

.voice-button.pressed ion-icon {
  color: #ffffff; /* Cambia el color del ícono mientras se presiona */
}


p:hover {
  font-weight: bold;
}

.speech-bubble {
  position: fixed; /* Asegura que el botón se mantenga en una posición fija */
  bottom: 25px;    /* Espacio desde el borde inferior */
  left: 27px;
  font-size: 14px;
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  padding: 14px;
  border-radius: 40px;
  max-width: 76%;
  word-wrap: break-word;
  box-shadow: 0px 0px 10px rgb(255, 255, 255);
  z-index: 1000; // Asegúrate de que esté encima de otros elementos
}


/* Estilo para dispositivos móviles menores de 701px */
@media (max-width: 300px) {
  .speech-bubble {
    max-width: 250px !important; /* Máximo ancho para móviles */
    font-size: 14px;  /* Ajuste del tamaño de la fuente */
  }
  .record-button {
    right: 55px !important;
  }
  .cancel-prompt {
    right: 47px !important;
  }
}

/* Estilo para pantallas entre 701px y 745px */
@media (max-width: 411px) {
  .speech-bubble {
    max-width: 230px !important; /* Máximo ancho para esta franja */
    font-size: 14px;  /* Ajuste del tamaño de la fuente */
  }
  .record-button {
    right: 55px !important;
  }
  .cancel-prompt {
    right: 47px !important;
  }
}

/* Estilo para pantallas entre 701px y 745px */
@media (min-width: 412px) and (max-width: 514px) {
  .record-button {
    right: 55px !important;
  }
  .cancel-prompt {
    right: 47px !important;
  }
}


/* Estilo para pantallas entre 701px y 745px */
@media (max-width: 812px) {
  .record-button {
    right: 55px !important;
  }
  .cancel-prompt {
    right: 47px !important;
  }
}


.record-container {
  position: absolute;
  z-index: 1000;
}
.record-button {
  position: fixed;
  bottom: 29px;
  right: 75px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: none;
  background-color: #ffffff; /* Blanco cuando no se está presionando */
  color: #000000; /* Color del icono */
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  outline: none;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: background-color 0.2s; /* Transición suave para los cambios de color */
}

.record-button.recording {
  background-color: #2196F3; /* Azul cuando se está presionando */
}

.record-button.cancel {
  background-color: #f44336; /* Rojo cuando se cancela */
}

.cancel-prompt {

  position: fixed;
  bottom: 67px;
  right: 65px;
  border-radius: 50%;
  background-color: #f44336;
  color: white;
  padding: 3px 7px;
  font-size: 14px;
  box-shadow: 0 4px 6px rgba(0, 0, 0.2, 0.3);
}
